<nav class="bg-red-600 text-white flex justify-between items-center p-4 sticky top-0 w-full">
    <span class="font-bold text-3xl flex"> 
        <img class="h-15 w-10 mr-1" src="assets/pikachuWave.gif" alt="pikachuWave">
        POKEMON 
    </span>
    <ng-container *ngIf="trainer !== undefined">
    <ul class="flex">
        <li class="px-4">
            <a class="font-semibold hover:text-gray-600 active:text-gray-900" routerLink="/catalogue">CATALOGUE</a>
        </li>
        <li>
            <a class="font-semibold hover:text-gray-600 active:text-gray-900" routerLink="/trainer">TRAINER</a>
        </li>
    </ul>
    </ng-container>
</nav>