<button type="button" class=" w-20 h-7 justify-center mx-auto text-gray-900 bg-slate-300 hover:bg-slate-200 border font-medium rounded-lg inline-flex items-center" (click)="onClickCatch()">

    <ng-container *ngIf="isCaught; then caught else notCaught" class="items-center"></ng-container>

    <ng-template #caught class="">
        <img class="h-3 w-3 mr-2" src="assets/pokeball.png" alt="pokeball">
        <p class="text-xs">Release</p>
    </ng-template>
    <ng-template #notCaught class="">
        <img class="h-3 w-3 mr-2" src="assets/openPokeball.png" alt="pokeball">
        <p class="text-xs">Catch</p>
    </ng-template>

</button>
