<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)" class="flex justify-center">
    <fieldset class="my-10 items-center mx-auto">
        <label for="username" class="block text-center font-bold ">USERNAME</label>
        <input type="text"
        ngModel
        #username="ngModel"
        name="username" 
        id="username" 
        class="border border-slate-300 p-3 rounded" 
        placeholder="Your trainer name...">
        <button type="submit" class="block mx-auto bg-slate-300 h-8 w-16 rounded-lg my-1">Login</button>
    </fieldset>
</form>